

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	&:focus {
		outline: none; //remove safari outline
	}
}



/**
	hide and show .

	Setting the attribute "hidden" on elements hides them with display:none.
	You can add class "fade-in" or "fade-out" to fade it out or in with opacity:0 and visibility:hidden
 */
.fade-out  {
	transition: all 0s;
}

.fade-in {
	//https://easings.net/#easeInCubic
	transition: all 1000ms cubic-bezier(0.32, 0, 0.67, 0);
}



*[hidden] {
	&:not(.fade-out):not(.fade-in) {
		display: none !important;
	}

	&.fade-in, &.fade-out {
		opacity: 0;
		visibility: hidden;
	}

	&.fade-in {
		transition: 0s;
	}

	&.fade-out {
		//https://easings.net/#easeInCubic
		transition: all 200ms cubic-bezier(0.32, 0, 0.67, 0);
	}
}

*[disabled] {
	cursor: not-allowed;
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity=60);
	pointer-events: none;
}

/**
	End hide and show.
 */

a {
	color: $colorPrimary;
}

hr {
	border:0;
	border-top: 2px solid $colorBorder;
	margin: dp(24) 0;
}


.go-draghandle {
	cursor: move;
}

.go-resizable {
	resize: both;
	overflow: auto;
	&::-webkit-resizer {
		background-color: transparent;
	}
}


.go-cards {
	>* {
		@extend .go-fit;
	}
}

menu.go-cardmenu {
	@extend .go-hbox;
	margin: 0 auto;
	padding: 0;

	button.go-button {
		padding: dp(12) dp(18);
		margin-right: dp(24);
		background: none;
		border: none;
		border-radius: 0;
		//color: $colorTextPlaceholder;
		border-bottom: 4px solid transparent;
		border-top: 4px solid transparent;
		color: $colorTextSecondary;
		&.active {
			border-bottom: 4px solid #f1df41;
			color: $colorText;
		}

		&:hover {
			color:black;
		}
	}
}

.go-avatar {
	cursor: default;
	position: relative;
	display: inline-block;
	color:white;
	padding: 0;
	background-color: $colorTextSecondary;
	background-size: cover;
	border-radius: 50%;
	width: dp(40);
	height: dp(40);
	line-height: dp(40);
	font-size: dp(16);
	text-align: center;
	overflow: hidden;
	img {
		height:100%;
		margin: 0;
		borderr:0;
	}
}


.go-empty-state {
	text-align: center;
	color: $colorTextSecondary;
	.icon {
		font-size: dp(48);
	}
	width: 100%;
	padding: dp(20);
}


