@font-face {
	font-family: 'Material Icons Round';
	font-style: normal;
	font-weight: 400;
	src: url(#{$resourcePath}/font/Material-Icons-Round.woff2) format('woff2');
}

%icon {
	font-family: 'Material Icons Round';
	font-weight: normal;
	font-style: normal;
	font-size: dp(24);  /* Google Preferred icon size = dp(24) */
	width: dp(24); //needed in Group-Office as it sets widht and height to 21px
	height: dp(24);
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

i.icon {

	@extend %icon;
}