
// Stack items horizontally
// For border layout use width's on north and south and add class "go-scroll" on center
.hbox {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	max-width: none;
	max-height: none;
	gap: 0;
	justify-content: flex-start;
	flex-wrap: nowrap;
	> * {
		//setting flex none prevents squishing of elements with no flex setting.
		flex:none;
		min-width: 0;
	}

	> hr {
		@extend %vr;
	}

	.break {
		&:before {
			content: '';
			width: 100%;
			order: 1;
		}
	}
}


// Stack items vertically
// For border layout use height's on east and west and add class "go-scroll" on center
.vbox {
	max-width: none;
	max-height: none;
	gap: 0;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-wrap: nowrap;
	> * {
		//setting flex none prevents squishing of elements with no flex setting.
		flex:none;
		min-height: 0;
	}
}



// Make the element fit it's parent
.fit {
	height: 100%;
}

// padding for text contet
.pad {
	padding: dp(24) dp(18) !important;
}

.border-bottom {
	border-bottom: 2px solid $colorBorder;
}

.border-top {
	border-top: 2px solid $colorBorder;
}

.border-left {
	border-left: 2px solid $colorBorder;
}

.border-right {
	border-bottom: 2px solid $colorBorder;
}

.frame {
	border: 2px solid $colorBorder;
	border-radius: dp(12);
	overflow:hidden;
	background-color: $colorBackground;

	> .toolbar {
		background-color: $colorBackgroundDarker;
		padding: dp(18);
		border-bottom: 2px solid $colorBorder;
	}
}

// Scrolling panel
.scroll {
	overflow: auto;
}


%vr {
	border: 0;
	&.draggable {
		cursor: col-resize;
	}

	z-index: 1;

	padding: 0;
	//height: 100%;
	width: 6px;

	display: block;

	margin: 0 -2px;

	background-color: transparent;

	// make it easy to grab with 5px but only show 1px border
	&:after {
		display:block;
		content: "";
		height: 100%;
		margin: 0 2px;
		background-color: $colorBorder;
	}
}