
.alert {
	z-index: $zIndexAlert;
	position: fixed;
	top: dp(64);
	left: 50%;
	width: dp(600);
	max-width: 80%;
	margin-left: dp(-300);
	border-radius:dp(10);
	padding:dp(24) dp(24) dp(24) dp(64);
	animation: go-alert .5s ease-out;
	cursor: pointer;

	&:before {
		position: absolute;
		left: dp(24);
		@extend %icon;
	}
}

@keyframes go-alert {
	0%   {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0%);
	}
}

//.alert span:first-child {
//	font-weight:bold;
//	text-transform:uppercase;
//}

.error {
	background: $colorErrorBg;
	border:2px solid $colorErrorBorder;
	color: $colorError;
	&:before {
		color: $colorError;
		content: "error";
	}
}
.success {
	background: $colorSuccessBg;
	border:2px solid $colorSuccessBorder;
	color: $colorSuccess;
	&:before {
		color: $colorSuccess;
		content: "check_circle";
	}
}
.warning {
	background: $colorWarningBg;
	border:2px solid $colorWarningBorder;
	color: $colorWarning;
	&:before {
		color: $colorWarning;
		content: "warning";
	}
}
.notice {
	background:$colorNoticeBg;
	border:2px solid $colorNoticeBorder;
	color: $colorNotice;
	&:before {
		color: $colorNotice;
		content: "info";
	}
}
