@use "config";
@use "util";
@use "icons";

.goui-alert {
	z-index: config.$zIndexAlert;
	position: fixed;
	top: util.dp(64);
	left: 0;
	right: 0;
	width: util.dp(600);
	max-width: 80%;
	margin:0 auto;
	border-radius: util.dp(10);
	padding: util.dp(24) util.dp(24) util.dp(24) util.dp(64);
	animation: goui-alert .5s ease-out;
	cursor: pointer;

	&:before {
		position: absolute;
		left: util.dp(24);
		@extend %icon;
	}


	&.error {
		background: config.$colorErrorBg;
		border:2px solid config.$colorErrorBorder;
		color: config.$colorError;
		&:before {
			color: config.$colorError;
			content: "error";
		}
	}
	&.success {
		background: config.$colorSuccessBg;
		border:2px solid config.$colorSuccessBorder;
		color: config.$colorSuccess;
		&:before {
			color: config.$colorSuccess;
			content: "check_circle";
		}
	}
	&.warning {
		background: config.$colorWarningBg;
		border:2px solid config.$colorWarningBorder;
		color: config.$colorWarning;
		&:before {
			color: config.$colorWarning;
			content: "warning";
		}
	}
	&.notice {
		background: config.$colorNoticeBg;
		border:2px solid config.$colorNoticeBorder;
		color: config.$colorNotice;
		&:before {
			color: config.$colorNotice;
			content: "info";
		}
	}

}

@keyframes goui-alert {
	0%   {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0%);
	}
}

//.alert span:first-child {
//	font-weight:bold;
//	text-transform:uppercase;
//}


