@use 'sass:math';

.goui-button  {
	color: inherit;
	background-color: transparent;
	border: 0;
	border-radius: dp(12);
	padding: dp(12) dp(18); //padding 11 because line height is 24 instead of 22

	display: flex;
	align-items: center;


	&.with-icon:not(.with-text) {
		//icon only
		padding: dp(11);
	}

	&.with-text {
		i.icon {
			margin-right: dp(8);
		}
	}

	.text {
		width: 100%;
	}

	position: relative;
	font: $fontBase;
	font-weight: 600;
	line-height: dp(24); //match icon

	&.small {
		transform: scale(.8);
	}


	&:hover {
		background-color: $colorHover;
		outline: none;
	}

	&.pressed {
		box-shadow: inset -2px -2px -2 $colorBorder; // underline
		background-color: $colorPrimary;
		color: white;
		&:hover {
			filter: brightness(120%);
		}
	}

	&:active {
		filter: brightness(150%);
	}



	&.raised {
		color: $colorAccent;
		border: $borderWidth solid $colorAccent;
		&:hover {
			color: white;
			background-color: $colorAccent;
		}
	}

	&.primary, &[type=submit] {
		background-color: $colorSecondary;
		color:white;
		&:hover {
			filter: brightness(120%);
		}
	}

	&.secondary {
		background-color: $colorButtonTertiary;
		color:white;
		&:hover {
			filter: brightness(120%);
		}
	}

	&.accent {
		background-color: $colorPrimary;
		color:white;
		&:hover {
			filter: brightness(120%);
		}
	}

	&:focus-visible {
		background-color: $colorFocus;
	}
}


.goui.goui-toolbar {
	@extend .hbox;
	align-items: center;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	padding: dp(8) dp(16);
	min-height: dp(62);
	margin: 0;
	//removed for htmlfield toolbar inside menu
	//padding-bottom: dp(18);

	> h2 {
		display: block;
		margin: 0;
		color: inherit;
		font-size: sp(22);
		line-height: normal;
		font-weight: normal;
		padding: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	> h3 {
		display: block;
		margin: 0;
		color: inherit;
		font-size: sp(18);
		line-height: normal;
		font-weight: normal;
		padding: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	>* {
		margin: 0 dp(12) 0 0;
		&:last-child {
			margin-right: 0;
		}
	}
	//> button {
	//	border: 0;
	//}

	> hr {
		height: dp(24);
		//margin: 0px dp(12) 0px 0;
	}

	.goui-form-field {
		//adjust to match button height. Take off 3px of padding at top and bottom
		align-self: center;
		.hint {
			display: none;
			padding-bottom: 0;
			padding-top:0;
		}

		//input.text {
		//	padding-top: dp(10);
		//	padding-bottom: dp(10);
		//}
		//
		//div.label {
		//	top: math.div($baseLineHeight, 2) + dp(11);
		//}

	}
}
