@use 'sass:math';

.goui-button  {
	color: inherit;
	background-color: transparent;
	border: $borderWidth solid transparent;
	border-radius: dp(12);
	padding: dp(11) dp(18); //padding 11 because line height is 24 instead of 22
	display: flex;
	align-items: center;
	position: relative;
	font: $fontBase;
	font-weight: 600;
	line-height: dp(24); //match icon

	//min-height: dp(46); // line-height + padding. This broke chips. Don't know why it was here.

	&.caps {
		text-transform: uppercase;
	}

	&.with-icon:not(.with-text) {
		//icon only
		padding: dp(11);
	}

	&.with-text {
		i.icon {
			margin-right: dp(8);
		}
	}

	i.icon {
		width: dp(24);
		height: dp(24);
		line-height: dp(24);
	}

	.text {
		width: 100%;
	}



	&.small {
		transform: scale(.8);
	}


	&:hover {
		background-color: $colorHover;
		outline: none;
	}

	&.pressed {
		box-shadow: inset -2px -2px -2 $colorOutline; // underline
		background-color: $colorMain;
		color: white;
		&:hover {
			filter: brightness(120%);
		}
	}

	//&:active {
	// This had a wierd effect with menu. When holding mouse button it dissappeared
	//	filter: brightness(150%);
	//}

	&.primary {
		color: $colorPrimary;
	}

	&.accent {
		color: $colorAccent;
	}


	&.filled, &[type=submit] {
		background-color: $colorHover;

		&:hover {
			background-color: $colorAccent;
			color: white;
		}

		&.primary, &[type=submit] {
			color: white;
			background-color: $colorPrimary;
			border-color: $colorPrimary;
			&:hover {
				filter: brightness(120%);
			}
		}

		&.accent {
			color: white;
			background-color: $colorAccent;
			border-color: $colorAccent;

			&:hover {
				filter: brightness(120%);
			}
		}
	}

	&.outlined {
		border: $borderWidth solid $colorTextSecondary;

		&:hover {
			color: white;
			background-color: $colorTextSecondary;
		}


		&.primary, &[type=submit] {
			border-color: $colorPrimary;
			color: $colorPrimary;

			&:hover {
				color: white;
				background-color: $colorPrimary;
			}
		}

		&.accent {
			color: $colorAccent;
			border-color: $colorAccent;

			&:hover {
				color: white;
				background-color: $colorAccent;
			}
		}
	}

	&:focus-visible {
		border: $borderWidth solid $colorMain;
		@extend .z4;
	}
}
.goui.group {
	position: relative;
	display:flex;
	//overflow: hidden; // this doesn't play well with grouping form fields. label overflows
//	> button {box-shadow: none; border: 1px solid $colorOutline;}
	> .goui-button {
		box-shadow: none;
		border: $borderWidth solid $colorBorder;
		&.active {
			background-color: $colorFocus;
		}
	}
	&>:not(:first-child) { border-top-left-radius:0; border-bottom-left-radius:0; }
	&>:not(:last-child) { border-top-right-radius:0; border-bottom-right-radius:0; border-right:0 }
}

.goui.goui-toolbar {
	display: flex;
	flex-direction: row;
	gap: dp(8);
	justify-content: flex-start;
	flex-wrap: nowrap;
	position: relative;// for absolute toolbars inside
	align-items: center;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	padding: dp(8) dp(16);
	min-height: dp(62);
	margin: 0;

	// toolbar inside a toolbar will be an overlay
	> .goui.goui-toolbar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $surfaceLow;
	}

	&.search {
		z-index: 1;
	}

	&.multiselect {
		// should be higher than search toolbar
		z-index: 2;
	}

	h2 {
		display: block;
		margin: 0;
		color: inherit;
		font-size: sp(24);
		line-height: normal;
		font-weight: normal;
		padding: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	h3 {
		display: block;
		margin: 0;
		color: inherit;
		font-size: sp(20);
		font-weight: normal;
		line-height: normal;
		padding: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	> hr {
		height: dp(24);
		border-top: 0;
		border-right: $borderWidth solid $colorBorder;
		border-color: currentColor;
		margin: 0 dp(16);
		opacity: .2
	}

	.goui-form-field {
		//adjust to match button height. Take off 3px of padding at top and bottom
		align-self: center;
		.hint {
			display: none;
			padding-bottom: 0;
			padding-top:0;
		}
	}
}
