$resourcePath: "../resources/";

$scale: 1;

@function dp($width) {
	@return $width * $scale * 1px;
}

//$windowShadow: 0 0 dp(16) 0 rgba(0,0,0,20%);

$colorLine: rgba(black, 0.04);
$colorBorder: #D3D3D3;//rgb(30 ,18, 70, 0.2); //#D3D3D3;
$colorBorderWindow: $colorBorder;
$colorHover: rgb(1 ,4, 10, 0.06);//#f1f1f6;//rgba(black, 0.04);

$colorSelectedRow: #1e1246;
$colorSelectedRowInactive: #f1f1f1;

$colorPrimary: #1652a1;
$colorSecondary: #00b0ad;
$colorAccent: #ff7200; //#f39345;
$colorButton: #f1f1f1;

$colorButtonTertiary: #00b0ad;

$colorText: rgb(1, 4, 10);
$colorTextSecondary: rgba(1, 4, 10, 0.56);
$colorTextPlaceholder: rgba(black, 0.5);


$colorBackground: white;
$colorBackgroundDarker: #f8f8f9;//rgb(30 ,18, 70, 0.03);
$colorBackgroundWindow: $colorBackgroundDarker; //rgb(30 ,18, 70, 0.03);
$colorWindowHeader: $colorBackgroundWindow;//#f5f5f5;

$colorFocus: rgba(2, 119, 189, 0.16);


// Colors that have meaning (eg. success/failure)
$colorSuccess:		#155724 !default;
$colorSuccessBorder:		#c3e6cb !default;
$colorSuccessBg: #d4edda !default;

$colorError: #721c24 !default;
$colorErrorBorder: #f5c6cb !default;
$colorErrorBg: #f8d7da !default;

$colorWarning: #856404 !default;
$colorWarningBorder: #ffeeba !default;
$colorWarningBg: #fff3cd !default;

$colorNotice: #004089 !default;
$colorNoticeBorder: #b8daff !default;
$colorNoticeBg: #cce5ff !default;

$colorBorderSelectedInput: rgb(0,176,173);
$colorBackgroundInput: #fafafb;

$borderRadius: dp(8);
$padding: dp(8);

$curveStandard: cubic-bezier(0.4, 0.0, 0.2, 1);

$baseLineHeight: dp(22);
$fontBase: #{dp(18)}/$baseLineHeight Lato, Arial, Helvetica;

$zIndexTableHead: 2;
$zIndexMask: 300;
$zIndexWindow: 200;
$zIndexAlert: 400;
$zIndexMenu: 500;

$breakpointXL: 1200px;
$breakpointLarge: 992px;
$breakpointMedium: 768px;
$breakpointSmall: 576px;


$colorMasked: #f1f1f1;


//shadows
$umbra: rgba(black, .2)!default;
$penumbra: rgba(black, .14)!default;
$ambient: rgba(black, .12)!default;
