$resourcePath: "../resources/";



//$windowShadow: 0 0 dp(16) 0 rgba(0,0,0,20%);

$colorLine: var(--fg-divider) !default;
$borderWidth: dp(2) !default;
$colorBorder: var(--fg-border); //#D3D3D3;
$colorBorderWindow: $colorBorder !default;
$colorHover: var(--bg-hover) !default;//#f1f1f6;//rgba(black, 0.04);

$colorSelectedRow: var(--bg-selected)  !default;
$colorSelectedRowInactive: var(--bg-selected-inactive) !default;

$colorPrimary: var(--c-primary) !default;
$colorSecondary: var(--c-secondary) !default;
$colorAccent: var(--c-accent) !default; //#f39345;
$colorButton: var(--bg-button) !default;


$colorText: var(--fg-text) !default;
$colorTextSecondary: var(--fg-secondary-text) !default;
$colorTextPlaceholder: var(--fg-secondary-text) !default;


$colorBackground: var(--bg-body) !default;
$colorBackgroundDarker: var(--bg-layer) !default;//rgb(30 ,18, 70, 0.03);
$colorBackgroundWindow: $colorBackgroundDarker !default; //rgb(30 ,18, 70, 0.03);
$colorWindowHeader: $colorBackgroundWindow !default;//#f5f5f5;

$colorFocus: var(--bg-focus) !default;


$colorBorderSelectedInput: var(--c-primary) !default; //rgb(0,176,173) !default;
$colorBackgroundInput: var(--bg-input) !default;
$colorBackgroundReadOnly: var(--bg-read-only);
$colorMasked: var(--bg-read-only) !default;

// Colors that have meaning (eg. success/failure)
$colorSuccess:		#155724 !default;
$colorSuccessBorder:		#c3e6cb !default;
$colorSuccessBg: #d4edda !default;

$colorError: var(--fg-error) !default;
$colorErrorBorder: var(--border-error) !default;
$colorErrorBg: var(--bg-error) !default;

$colorWarning: var(--fg-warning) !default;
$colorWarningBorder: var(--border-warning) !default;
$colorWarningBg: var(--bg-warning) !default;

$colorNotice: var(--fg-notice) !default;
$colorNoticeBorder: var(--border-notice) !default;
$colorNoticeBg: var(--bg-notice) !default;



$borderRadius: dp(8) !default;
$padding: dp(8) !default;

$curveStandard: cubic-bezier(0.4, 0.0, 0.2, 1) !default;

$baseLineHeight: sp(24) !default;
$fontSize: sp(18) !default;
$fontFamily: Lato, Arial, Helvetica;
$fontBase: #{$fontSize}/$baseLineHeight $fontFamily !default;

$zIndexWindow: 200 !default;
$zIndexAlert: 40000 !default;
$zIndexMenu: 50000 !default;
$zIndexMask: 30000;

$breakpointXL: 1200px !default;
$breakpointLarge: 992px !default;
$breakpointMedium: 768px !default;
$breakpointSmall: 576px !default;





//shadows
$umbra: rgba(black, .2)!default;
$penumbra: rgba(black, .14)!default;
$ambient: rgba(black, .12)!default;
