$resourcePath: "../resources/";

$scale: 1 !default;

@function dp($width) {
	@return $width * $scale * 1px;
}

//$windowShadow: 0 0 dp(16) 0 rgba(0,0,0,20%);

$colorLine: rgba(black, 0.04) !default;
$borderWidth: 2px !default;
$colorBorder: #D3D3D3;//rgb(30 ,18, 70, 0.2); //#D3D3D3;
$colorBorderWindow: $colorBorder !default;
$colorHover: rgb(1 ,4, 10, 0.06) !default;//#f1f1f6;//rgba(black, 0.04);

$colorSelectedRow: #1e1246  !default;
$colorSelectedRowInactive: #f1f1f1 !default;

$colorPrimary: #1652a1 !default;;
$colorSecondary: #00b0ad !default;
$colorAccent: #ff7200 !default; //#f39345;
$colorButton: #f1f1f1 !default;

$colorButtonTertiary: #00b0ad !default;

$colorText: rgb(1, 4, 10) !default;
$colorTextSecondary: rgba(1, 4, 10, 0.56) !default;
$colorTextPlaceholder: rgba(black, 0.5) !default;


$colorBackground: white !default;
$colorBackgroundDarker: #f8f8f9 !default;//rgb(30 ,18, 70, 0.03);
$colorBackgroundWindow: $colorBackgroundDarker !default; //rgb(30 ,18, 70, 0.03);
$colorWindowHeader: $colorBackgroundWindow !default;//#f5f5f5;

$colorFocus: rgba(2, 119, 189, 0.16) !default;


// Colors that have meaning (eg. success/failure)
$colorSuccess:		#155724 !default;
$colorSuccessBorder:		#c3e6cb !default;
$colorSuccessBg: #d4edda !default;

$colorError: #721c24 !default;
$colorErrorBorder: #f5c6cb !default;
$colorErrorBg: #f8d7da !default;

$colorWarning: #856404 !default;
$colorWarningBorder: #ffeeba !default;
$colorWarningBg: #fff3cd !default;

$colorNotice: #004089 !default;
$colorNoticeBorder: #b8daff !default;
$colorNoticeBg: #cce5ff !default;

$colorBorderSelectedInput: rgb(0,176,173) !default;
$colorBackgroundInput: #fafafb !default;

$borderRadius: dp(8) !default;
$padding: dp(8) !default;

$curveStandard: cubic-bezier(0.4, 0.0, 0.2, 1) !default;

$baseLineHeight: dp(22) !default;
$fontSize: dp(18) !default;
$fontBase: #{$fontSize}/$baseLineHeight Lato, Arial, Helvetica !default;

$zIndexWindow: 200 !default;
$zIndexAlert: 400 !default;
$zIndexMenu: 500 !default;
$zIndexMask: 300;

$breakpointXL: 1200px !default;
$breakpointLarge: 992px !default;
$breakpointMedium: 768px !default;
$breakpointSmall: 576px !default;


$colorMasked: #f1f1f1 !default;


//shadows
$umbra: rgba(black, .2)!default;
$penumbra: rgba(black, .14)!default;
$ambient: rgba(black, .12)!default;
