.preload * {
	animation-duration: 0s !important;
}

$buttonSize: dp(34);

menu.goui-dropdown {
	.datepicker {
		margin: 0 auto;
	}
}

.datepicker {
	width: 7 * ($buttonSize + dp(4)) + dp(8);
	position: relative;
	margin:0 auto;
	dl {
		margin: 0;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		row-gap: dp(2);
	}

	ul { // month / year pickers
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		gap: dp(2);
		background-color: $colorBackgroundDarker;
		overflow-y: auto;
		width: 100%;
		top: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		&:first-child {
			grid-template-columns: repeat(4, 1fr);
		}
		> li {
			cursor: pointer;
		}
	}

	ol { // week nbs
		list-style-type: none;
		float: left;
		border-right: 1px solid rgba(0, 0, 0, 0.16);
		font-size: 1rem;
		padding: 0;
		margin: dp(2) 0 0 0;
		> li {
			cursor: default;
			user-select: none;
			margin-bottom: dp(2);
		}
	}
	dd, dt, li {
		text-align: center;
		line-height: $buttonSize;
		min-width: $buttonSize;
		height: $buttonSize;
		margin: dp(2);
		&.disabled {
			text-decoration: line-through;
		}
	}

	dd { // dates
		position: relative;
		border-radius: 50%;
		cursor: pointer;
		user-select: none;
		-webkit-user-select: none;
		color: $colorText;
		&.selected {
			//border-radius: 0;
			&.head {
				border-top-left-radius: 50%;
				border-bottom-left-radius: 50%;
			}
			&.tail {
				border-top-right-radius: 50%;
				border-bottom-right-radius: 50%;
			}
		}
		&.today {
			border: 1px solid $colorPrimary;
		}
		&.off {
			opacity: .4;
		}
	}

	header > span:hover,
	ul > li:hover,
	dd:hover {
		background-color: rgba(0, 0, 0, 0.08);
	}

	.selected, .selected:hover {
		background-color: $colorPrimary;
		color:white;
	}

	li {
		border-radius: 1.2rem;
	}


	dt {
		font-size: .8em;
		cursor: default;
		user-select: none;
		text-transform: uppercase;
	}


	header, footer {
		display: flex;
		> * {
			flex: 1;
			text-align: center;
		}
		> button.nav.goui-button.with-icon {
			width: dp(32);
			max-width: dp(32);
			padding: dp(4);
			border: 0;
		}

		> button:not(.nav) {

			text-align: center;
			display:block;
			padding: dp(4);
			i.icon {
				display: inline;
				vertical-align: bottom;
			}
		}
	}

	@keyframes go-top {
		from {transform: translateY(0);}
		to {	transform: translateY(-100%);}
	}
	@keyframes go-bottom {
		from {transform: translateY(0);}
		to {	transform: translateY(100%);}
	}

	$duration: 250ms;
	.cards {
		position: relative;
		height: 7 * ($buttonSize + 4) + 12px;//20.8rem; /* 6x28 + 12m */
		overflow: hidden;
		user-select:none;
		&.top {
			position: absolute;
			//top: dp(50);
			bottom: 0;
			width: 100%;
			> * { // todo
				transform: translateY(-100%);
				z-index: 1;
			}
		}

		> * {
			z-index: 0;
			position: absolute;
			animation: $duration ease-out forwards go-bottom; // go out to bottom
		}
		> .active {
			z-index: 1;
			animation: $duration ease-in reverse forwards go-top; // come in from top
		}
		&.reverse > * {
			animation: $duration ease-out forwards go-top; // go out to top
		}
		&.reverse > .active {
			animation: $duration ease-in reverse forwards go-bottom; // come in from bottom
		}
	}

}