@use "config";
@use "util";


$buttonSize: util.dp(34);

menu.goui-dropdown {
	.datepicker {
		margin: 0 auto;
	}
}

.datepicker {
	width: 7 * ($buttonSize + util.dp(4)) + util.dp(8);
	position: relative;
	display: block;
	&.show-weeknbs {
		width: 8 * ($buttonSize + util.dp(4)) + util.dp(8);
	}
	dl {
		margin: 0;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		row-gap: util.dp(2);
	}

	ul { // month / year pickers
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		gap: util.dp(2);
		background-color: config.$colorBackgroundDarker;
		overflow-y: auto;
		width: 100%;
		top: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		&:first-child {
			grid-template-columns: repeat(4, 1fr);
		}
		> li {
			cursor: pointer;
		}
	}

	ol { // week nbs
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		list-style-type: none;
		float: left;
		gap: util.dp(2);
		border-right: 1px solid rgba(0, 0, 0, 0.16);
		font-size: 1rem;
		padding: 0;
		margin: util.dp(40) 0 0 0;
		> li {
			cursor: default;
			user-select: none;
			margin: util.dp(2);
		}
	}
	dd, dt, li {
		text-align: center;
		line-height: $buttonSize;
		min-width: $buttonSize;
		height: $buttonSize;
		margin: util.dp(2);
		&.disabled {
			text-decoration: line-through;
		}
	}

	dd { // dates
		position: relative;
		border-radius: 50%;
		cursor: pointer;
		user-select: none;
		-webkit-user-select: none;
		color: config.$colorText;
		&.selected {
			border-radius: 0;
			&.head {
				border-top-left-radius: 50%;
				border-bottom-left-radius: 50%;
			}
			&.tail {
				border-top-right-radius: 50%;
				border-bottom-right-radius: 50%;
			}
		}
		&.today {
			border: 1px solid config.$colorMain;
		}
		&.off {
			opacity: .4;
		}
	}

	header > span:hover,
	ul > li:hover,
	dd:hover {
		background-color: rgba(0, 0, 0, 0.08);
	}

	.selected, .selected:hover {
		background-color: config.$colorMain;
		color:white;
	}

	li {
		border-radius: 1.2rem;
	}


	dt {
		font-size: .8em;
		cursor: default;
		user-select: none;
		text-transform: uppercase;
	}


	header, footer {
		display: flex;
		> * {
			flex: 1;
			text-align: center;
		}
		> button.nav.goui-button.with-icon {
			width: util.dp(32);
			max-width: util.dp(32);
			padding: util.dp(4);
			border: 0;
		}

		> button:not(.nav) {

			text-align: center;
			display:block;
			padding: util.dp(4);
			i.icon {
				display: inline;
				vertical-align: bottom;
			}
		}
	}

	@keyframes go-top {
		from {transform: translateY(0);}
		to {	transform: translateY(-101%);}
	}
	@keyframes go-bottom {
		from {transform: translateY(0);}
		to {	transform: translateY(101%);}
	}

	$duration: 400ms;
	.cards {
		position: relative;
		height: 7 * ($buttonSize + util.dp(4)) + util.dp(12);//20.8rem; /* 6x28 + 12m */
		overflow: hidden;
		user-select:none;
		&.top {
			position: absolute;
			//top: dp(50);
			bottom: 0;
			width: 100%;
			> * { // todo
				transform: translateY(-100%);
				z-index: 1;
			}
		}

		&.animate {

			> * {
				position: absolute;
				transition: transform $duration linear; // go out to bottom
				transform: translateY(100%);
			}

			> .active {
				z-index: 1;
				transition: transform $duration linear; // come in from top
				transform: translateY(0);
			}

			> .active + div {
				transition: transform $duration linear; // come in from top
				transform: translateY(-100%);
			}

			&.reverse {
				> * {
					position: absolute;
					transition: transform $duration linear; // go out to bottom
					transform: translateY(-100%);
				}

				> .active {
					z-index: 1;
					transition: transform $duration linear; // come in from top
					transform: translateY(0);
				}

				> .active + div {
					transition: transform $duration linear; // come in from top
					transform: translateY(100%);
				}
			}
		}


	}

}