.preload * {
	animation-duration: 0s !important;
}

$buttonSize: 40px;

menu.goui-dropdown {
	.datepicker {
		margin: 0 auto;
	}
}

.datepicker {
	width: 7 * ($buttonSize + 4px) + 8px;
	position: relative;
	dl {
		width: 19.6rem;
		margin: 0;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		row-gap: 2px;
	}

	ul { // month / year pickers
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		gap: 2px;
		background-color: $colorBackgroundDarker;
		overflow-y: auto;
		width: 100%;
		top: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		&:first-child {
			grid-template-columns: repeat(4, 1fr);
		}
		> li {
			cursor: pointer;
		}
	}

	ol { // week nbs
		list-style-type: none;
		float: left;
		border-right: 1px solid rgba(0, 0, 0, 0.16);
		font-size: 1rem;
		padding: 0;
		margin: 3rem 0 0 0;
		> li {
			cursor: default;
			user-select: none;
			margin-bottom: 2px;
		}
	}
	dd, dt, li {
		text-align: center;
		line-height: $buttonSize;
		min-width: $buttonSize;
		height: $buttonSize;
		margin: 2px;
	}

	dd { // dates
		position: relative;
		border-radius: 50%;
		cursor: pointer;
		user-select: none;
		-webkit-user-select: none;
		color: $colorText;
		&.selected {
			border-radius: 0;
			&.head {
				border-top-left-radius: 50%;
				border-bottom-left-radius: 50%;
			}
			&.tail {
				border-top-right-radius: 50%;
				border-bottom-right-radius: 50%;
			}
		}
		&.today:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		&.off {
			opacity: .4;
		}
	}

	header > span:hover,
	ul > li:hover,
	dd:hover {
		background-color: rgba(0, 0, 0, 0.08);
	}

	.selected, .selected:hover {
		background-color: $colorPrimary;
		color:white;
	}

	li {
		border-radius: 1.2rem;
	}

	li.now:not(.selected),
	dd.today:before {
		color: #005fb8;
	}

	dt {
		font-size: 1rem;
		cursor: default;
		user-select: none;
		text-transform: uppercase;
	}

	header {
		display: flex;
		> * {
			flex: 1;
			text-align: center;
		}
		> button.nav {
			width: dp(50);
			max-width: dp(50);
			padding: 0;
			border: 0;
		}

		> button:not(.nav) {

			text-align: center;
			display:block;

			i.icon {
				display: inline;
				vertical-align: bottom;
			}
		}

	}

	@keyframes go-top {
		from {transform: translateY(0);}
		to {	transform: translateY(-100%);}
	}
	@keyframes go-bottom {
		from {transform: translateY(0);}
		to {	transform: translateY(100%);}
	}

	$duration: 250ms;
	.cards {
		position: relative;
		height: 7 * ($buttonSize + 4) + 12px;//20.8rem; /* 6x28 + 12m */
		overflow: hidden;
		user-select:none;
		&.top {
			position: absolute;
			top: dp(50);
			bottom: 0;
			width: 100%;
			> * { // todo
				transform: translateY(-100%);
				z-index: 1;
			}
		}

		> * {
			z-index: 0;
			position: absolute;
			animation: $duration ease-out forwards go-bottom; // go out to bottom
		}
		> .active {
			z-index: 1;
			animation: $duration ease-in reverse forwards go-top; // come in from top
		}
		&.reverse > * {
			animation: $duration ease-out forwards go-top; // go out to top
		}
		&.reverse > .active {
			animation: $duration ease-in reverse forwards go-bottom; // come in from bottom
		}
	}

}