dl.goui-dl {
	margin: 0;
	margin-right: dp(16);
	&:last-child {
		margin-right: 0;
	}
	dt {
		display: block;
		font-size: dp(12);
		top: dp(5);
		color: $colorPrimary;
		margin: dp(16) 0 0 0;
		padding: 0;
	}

	dd {
		margin: 0;
		padding: 0;
		display: block;
		min-height: $baseLineHeight;
		//text-overflow: ellipsis;
		//overflow: hidden;
		//white-space: nowrap;

		code {
			display: block;
			word-break: break-all;
			white-space: break-spaces;
			background-color: #f1f1f1;
			border: $borderWidth solid $colorBorder;
			border-radius: $borderRadius;
			padding: dp(8);
			line-height:normal;
		}
	}
}

.masked {
	dl.goui-dl {
		dd {
			background-color: $colorMasked;
			color: $colorMasked;
			border-radius: dp(8);
			> * {
				visibility: hidden;
			}
		}
	}
}