@use "config";
@use "util";

dl.goui-dl {
	margin: 0 util.dp(16) 0 0;

	&:last-child {
		margin-right: 0;
	}
	dt {
		display: block;
		font-size: util.dp(12);
		top: util.dp(5);
		color: config.$colorMain;
		margin: util.dp(16) 0 0 0;
		padding: 0;
	}

	dd {
		margin: 0;
		padding: 0;
		display: block;
		min-height: config.$baseLineHeight;
		//text-overflow: ellipsis;
		//overflow: hidden;
		//white-space: nowrap;

		code {
			display: block;
			word-break: break-all;
			white-space: break-spaces;
			background-color: #f1f1f1;
			border: config.$borderWidth solid config.$colorBorder;
			border-radius: config.$borderRadius;
			padding: util.dp(8);
			line-height:normal;
		}
	}
}

.masked {
	dl.goui-dl {
		dd {
			background-color: config.$colorMasked;
			color: config.$colorMasked;
			border-radius: util.dp(8);
			> * {
				visibility: hidden;
			}
		}
	}
}