dl {
	margin: 0;
	margin-right: dp(16);
	&:last-child {
		margin-right: 0;
	}
	dt {
		display: block;
		font-size: dp(12);
		top: dp(5);
		color: $colorPrimary;
		margin: dp(16) 0 0 0;
		padding: 0;
	}

	dd {
		margin: 0;
		padding: 0;
		display: block;
		min-height: $baseLineHeight;
		//text-overflow: ellipsis;
		//overflow: hidden;
		//white-space: nowrap;
	}
}

.masked {
	dl {
		dd {
			background-color: $colorMasked;
			color: $colorMasked;
			border-radius: dp(8);
			> * {
				visibility: hidden;
			}
		}
	}
}