@use 'sass:math';
$formFieldBorderRadius: dp(10);

.checkbox-group {
	//reset fieldset defaults
	border: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-block-start: 0;
	padding-inline-start: 0;
	padding-inline-end: 0;
	padding-block-end: 0;

	h3.legend {
		color: $colorTextSecondary;
		font: $fontBase;
		margin: dp(24) 0 dp(8) 0;
	}

	@extend %boxgroup;

}


// base for checkbox and radio's
%boxgroup {
	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
	}

	&.box input {
		margin: 0;
		min-width: $baseLineHeight;
		min-height: $baseLineHeight;
		width: $baseLineHeight;
		height:$baseLineHeight;
		background-color: $colorBackgroundInput;
		border: $borderWidth solid $colorText;
		border-radius: math.div($borderRadius, 2);
		&:before { // tick
			content: '';
			transform: scale(0);
			display:inline-block;
			margin: 0-$borderWidth;
			width: $baseLineHeight;
			height: $baseLineHeight;
			transition: 90ms transform ease-in-out;
			background-color: $colorPrimary;
		}
		&:checked:before { // tick-on
			transform: scale(1);
		}
		&:focus {
			border-color: $colorPrimary;
			//box-shadow: 0 0 0 1px $colorPrimary;
		}
		&[style]:checked:before {
			color:inherit;
			text-shadow: 0 0 1px black;
		}
	}

	.group {
		.goui-form-field {
			margin: 0;
			width: auto;
			border-radius: dp(12); //match button

			.control {
				padding: 0;
				flex-wrap: nowrap;

				span.box-label {
					//put here and not below for extra strong rules
					padding: dp(9) dp(18);
					font-weight:normal;
					margin:0 ;
				}
			}
		}

		&>:not(:first-child) {
			span.box-label {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left: 0;
			}
			}
		&>:not(:last-child) {
			span.box-label {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

	}



	&.button{
		.control {
			flex-wrap: nowrap;

			span.box-label {
				//put here and not below for extra strong rules
				padding: dp(9) dp(18);

				font-weight:normal;
				margin:0;
			}
		}

		.box-label {
			@extend .goui-button;
		}
		input {
			margin: 0;
		}
		input:checked + span {
			background-color: $colorFocus;
		}
	}

	.wrap {
		background-color: transparent;
		border: none;
	}

	.label {
		display: none;
	}

	.control {
		display: flex;
		padding: dp(8) 0;
		align-items: center;
		flex-wrap: wrap;

		.box-label {
			flex: 1;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			padding: 0 dp(12);
			margin: auto 0;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
		}

	}
}


%input {
	background-color: transparent;
	font: $fontBase;
	min-width: dp(100); //for select element
	margin: 0;
	border: 0;
	padding: dp(11) dp(16);
	width: 100%;
	//outline: none;
	color: $colorText;
	display: block;// for text area which has inline-block by default and gets some extra margin
	border-radius: $formFieldBorderRadius - $borderWidth;
	&:read-only:not(select) {
		background-color: $colorBackgroundReadOnly;
	}

	&::placeholder {
		transition: all 200ms linear;
		color: transparent;
	}
}

%float-label {
	&::placeholder {
		color: $colorTextPlaceholder;
	}
	&+div.label, &+.goui-toolbar+div.label {
		font-size: sp(13);
		top: 0;
	}
}

.goui-form-field {
//	width: 100%; messes up tree
//	align-self: start;
	margin-bottom: dp(12);
	margin-top: dp(4);
}

.goui-form-field {
	display: block;
	//border-radius: $formFieldBorderRadius;
	.wrap {
		overflow:hidden;
		display: flex;
		flex-flow: row nowrap;
		transition: border-color 100ms linear;
		border-radius: $formFieldBorderRadius;
		background-color: $colorBackgroundInput;
		border: $borderWidth solid $colorBorder;

		menu.goui-toolbar {
			background-color: transparent;
			padding: 0 !important;
			border-radius: 0 $formFieldBorderRadius $formFieldBorderRadius 0;

			border-left: $borderWidth solid $colorBorder !important; //importants for Window rule for border top
			border-top: 0 !important;
			border-right: 0 !important;
			border-bottom: 0 !important;

			min-height: auto;

			> * {
				margin: 0 dp(4) 0 0;
				padding: dp(6);
			}

			.goui-button {

				&.with-icon:not(.with-text) {
					padding: dp(6);
				}
				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	+ hr {
		margin-top: 0;
	}

	position: relative;

	&:focus-within {
		.wrap {
			border-color: $colorPrimary;
		}

		.label {
			color: $colorPrimary;
		}
	}


	&.frame-hint {
		.wrap {
			border-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		//margin-bottom: dp(30); //matches hint size

		&:focus-within:not(.invalid) {
			.hint {
				border-color: $colorPrimary;
			}
		}

		.hint {
			transition: border-color 100ms linear;
			background-color: $colorBackgroundInput;
			border: $borderWidth solid $colorBorder;
			border-radius: 0 0 $formFieldBorderRadius $formFieldBorderRadius;
			padding: dp(3) dp(18);
		}

		&.invalid {
			.hint {
				background-color: $colorErrorBg;
				border-color: $colorError;
			}
		}
	}




	div.label {
		display: flex;
		align-items: center;
		overflow: visible;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: $colorTextSecondary;
		vertical-align: top;
		pointer-events: none;
		position:absolute;
		left: dp(16);
		padding: 0 dp(4);
		top: math.div($baseLineHeight, 2) + dp(11);
		height: $borderWidth;
		background-color: $colorBackgroundInput;

		transition: all 200ms linear;

		//below performs better but looks ugly on windows :(
		will-change: top, font-size;

		&:empty {
			display: none;
		}
	}

	&.no-floating-label {
		div.label {
			top: 0;
			font-size: sp(13);
		}
	}

	>.control {
		width: 100%;
		appearance: none;
		-webkit-appearance: none; /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
	}

	&.invalid {
		.wrap {
			border-color: $colorError;
			background-color: $colorErrorBg;
		}
		.label {
			background-color: $colorErrorBg;
		}
		.hint, .label {
			color: $colorError;
		}

	}

	.error {
		font-size: dp(14);
		color: $colorError;
		line-height: dp(20); //match icon
		padding: 2px dp(12);
		height: dp(20);
		width: 100%;
	}

	.hint {
		font-size: dp(14);
		color: $colorTextSecondary;
		line-height: dp(20); //match icon
		padding: dp(4) dp(18) dp(4);
		//height: dp(30);
		flex: 1 1 100%;

		&:empty {
			padding: 0;
		}
	}

	/** start text and textarea **/
	input.text, textarea, select {
		@extend %input;
		&:focus, &:not(:placeholder-shown) {
			@extend %float-label;
		}

		&:focus {
			color: $colorPrimary;
		}
	}

	input.number {
		padding-right: 0;
		min-width: dp(54);
	}

	input.text {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	/**  end text and textarea **/


	&.radiogroup {
		@extend .checkbox-group;

		width: auto;
		.radio.control {
			padding: 0;
		}

		&.box {
			.radio > label {
				padding-right: dp(8);
			}

			input {
				&[type="radio"] {
					border-radius: dp(12);
					&:checked:before {
						content: '';
						border-radius: 50%;
						transform: scale(.4);
					}
				}
			}
		}

		&.button { // check buttons should be in segment .group

			.control {
				&>:not(:first-child) {
					.box-label {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
						border-left: 0;
					}
				}
				&>:not(:last-child) {
					.box-label {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
			}


			.radio {



				background-color: $colorBackgroundInput;
				border: 1px solid $colorBorder;
				border-radius: dp(12);

				&:focus-within {
					border-color: $colorPrimary;
				}

				> label {
					padding: 0;
					overflow: hidden;

					+ label {
						border-left: 1px solid $colorBorder;
					}
				}
			}
		}

	}

	/** start checkbox **/
	&.check {

		@extend %boxgroup;

		&.box input {
			&[type="checkbox"] {
				&:before {
					clip-path: polygon(39.375% 74.375%, 16% 51%, 20.48% 46.52%, 39.33% 65.37%, 79.33% 25.37%, 83.81% 29.85%)
				}
			}
		}

		.button {
			input + span {
				@extend .goui-button;
			}
		}

		&.switch input { // track
			background-color: $colorBackgroundInput;
			width: dp(50);
			height: dp(28);
			overflow:hidden;
			border: $borderWidth solid $colorBorder;
			position:relative;
			border-radius:999px;
			&::before {
				content: '' !important;
			}
			&::after { // thumb
				position:absolute;
				top: 0px - $borderWidth;
				left: 0px - $borderWidth;
				color:white;
				font-size: .7em;
				content: "";
				transition: 100ms transform ease-out;
				margin: dp(7);
				display:block;
				height: dp(14);
				width: dp(14);
				background-color:  rgba(0, 0, 0, 0.48);
				border-radius:999px;
			}
			&:checked {
				background-color: $colorSecondary;
			}
			&:checked::after  {
				transform: scale(1.5) translateX(dp(14));
				background-color:white;
			}
			&:active::after { // focus
				transform: scale(1.75);
			}
			&:active:checked::after  {
				transform:scale(1.75) translateX(dp(12));
				background-color: $colorBackgroundInput;
			}
			&:focus {
				border-color: $colorPrimary;
				&:checked:after {
					transform:scale(1.75) translateX(dp(12));
				}
			}
		}

	}
	/** end checkbox **/


	&.select {
		position: relative;
		select {
			padding-right: dp(32);
			background-image: none;
			appearance: none;
		}
		&:after {
			position: absolute;
			display: inline-block;
			top: dp(14);
			right: dp(12);
			@extend %icon;
			margin-right: 0;
			content: "expand_more";
			pointer-events: none;
		}
	} // end select

}


.goui-fieldset {
	border: 0;
	min-width: 0;
	padding: dp(16) 0;
	margin: 0;

	.legend {
		display: block;
		line-height:normal;
		font-size: dp(24);
		font-weight: 500;
		margin: dp(8) 0 dp(24) 0;
	}
}

.textarea {
	textarea
	{
		min-height: dp(100);
	}
}


.goui-html-field {
	position: relative;

	&.invalid {
		div.editor{
			background-color: $colorErrorBg;
			border-color: $colorError;
		}
	}

	div.editor {
		@extend %input;
		@extend .normalize;
		min-height: dp(100);

		img {
			max-width: 100%;
		}

		&:focus, &:not(:empty) {
			@extend %float-label;

			&:empty:before {
				color: $colorTextPlaceholder;
			}
		}

		//placeholder support
		&:empty:before {
			content: attr(data-placeholder);
			color: transparent;
			pointer-events: none;
			transition: all 200ms linear;
		}

	}

	&:focus-within {
		menu.goui-toolbar {
			display: flex;
		}
	}
}

.goui.goui-toolbar.html-field-toolbar {
	position: absolute;
	z-index: $zIndexMenu;
	flex-wrap: wrap;
	max-width: 100%;
	@extend .z8;
}

form {
	// for loading mask
	position: relative;

	.row {
		display: flex;
		flex-wrap: wrap;
		column-gap: dp(12);
		row-gap: 0;
		align-items: stretch;
		>* {
			flex: 1;
		}
	}

	// to make button align with form field
	.goui-button {
		margin-bottom: dp(16);
		margin-top: dp(4);
	}
}



.autocomplete {
	&.expanded {
		.wrap {
			border-color: $colorPrimary;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 0;
		}

		.label, .control {
			color: $colorPrimary;
		}

		box-shadow: 0 10px 20px 0 rgb(0 0 0 / 40%);
	}
}

.autocomplete-suggestions {

	@extend .z8;
	border: $borderWidth solid $colorPrimary;
	border-top: 0;
	border-radius: 0 0 $formFieldBorderRadius $formFieldBorderRadius;
	background-color: white;

}


.masked {
	.form-field {
		color: $colorMasked !important;
		.control {
			border-color: $colorMasked !important;
			color: $colorMasked !important;
			background-color: $colorMasked !important;
			> * {
				visibility: hidden;
			}
		}

		.label {
			display: none;
		}
	}
}

div.color-dot {
	border-radius: $formFieldBorderRadius;
	margin: dp(10);
	height: dp(24);
	flex: 1;
}


.chips {

	&.has-chips {
		.wrap {
			.editor {
				@extend %float-label;
			}
		}
	}

	.editor {
		@extend %input;
		width: auto;
		flex: 1;
		min-width: 0;
		cursor: text;
		white-space: nowrap;
		overflow: hidden;
		max-width: 100%;
		float:left;
		display:inline-block;
	}
	.wrap {
		cursor: text;
		&:focus-within {
			.editor {
				@extend %float-label;
			}
		}
		display: block;
		overflow: hidden;

		.chip {
			float: left;
			border-radius: dp(20);
			background-color: var(--bg-primary);
			padding: dp(3) dp(12);
			margin: dp(8) dp(4);
			overflow: hidden;
			max-width: dp(120);
			min-width: dp(60);
			text-overflow: ellipsis;
			white-space: nowrap;
			cursor: default;

			&.selected {
				background-color: $colorSelectedRow;
				color: white;
				.goui-button {
					color: white;
				}
			}

			.goui-button {
				color: $colorTextSecondary;
				padding: 0;
				margin: 0;
				margin-left: dp(8);
				margin-right: dp(-8);
			}
		}
	}
}