@use 'sass:math';
$formFieldBorderRadius: dp(10);

.checkbox-group {
	//reset fieldset defaults
	border: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-block-start: 0;
	padding-inline-start: 0;
	padding-inline-end: 0;
	padding-block-end: 0;

	h3.legend {
		//color: $colorTextSecondary;
		//font: $fontBase;
		//margin: dp(24) 0 dp(8) 0;

		&:empty {
			display: none;
		}
	}

	@extend %boxgroup;

}

.goui.group {
	display:flex;
	align-items: start;

	.goui-form-field, .goui-display-field {
		margin: 0;
		width: auto;

		.control {
			//padding-top: 0; //for radio and checkbox group
			//padding-bottom: 0; //for radio and checkbox group
			flex-wrap: nowrap;

			span.box-label {
				//put here and not below for extra strong rules
				padding: dp(9) dp(18);
				font-weight:normal;
				margin:0 ;
				border: $borderWidth solid $colorOutline;
			}
		}
	}

	>.goui-display-field {
		.wrap {
			@extend %control-pit;

			.label {
				background-color: var(--bg-input);
			}
		}
	}

	&>:focus-within {
		.wrap {
			border-right-width: $borderWidth !important;
		}
	}

	&>:focus-within + * {
		.wrap {
			border-left: 0;
		}
	}


	&>:not(:first-child) {
		.wrap {
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;

			span.box-label {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left: 0;
			}
		}
	}
	&>:not(:last-child) {
		.wrap {
			border-right-width: 0  !important;
			border-top-right-radius: 0  !important;
			border-bottom-right-radius: 0  !important;

			span.box-label {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
}


%control-pit {
	overflow:hidden;
	transition: border-color 100ms linear;
	border-radius: $formFieldBorderRadius;
	background-color: $colorBackgroundInput;
	border: $borderWidth solid $colorOutline;
	&:empty {
		border: 0;
	}
}
// base for checkbox and radio's
%boxgroup {
	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
	}

	&.box input {
		margin: 0;
		color: $colorMain;
		min-width: $baseLineHeight;
		min-height: $baseLineHeight;
		width: $baseLineHeight;
		height:$baseLineHeight;
		background-color: $colorBackgroundInput;
		border: $borderWidth solid $colorOutline;
		border-radius: math.div($borderRadius, 2);
		&:before { // tick
			content: '';
			transform: scale(0);
			display:inline-block;
			margin: 0-$borderWidth;
			width: $baseLineHeight;
			height: $baseLineHeight;
			transition: 90ms transform ease-in-out;
			background-color: currentColor;
		}
		&:checked:before { // tick-on
			transform: scale(1);
		}
		&:focus {
			border-color: $colorMain;
			//box-shadow: 0 0 0 1px $colorMain;
		}
		&[style]:checked:before {
			color:inherit;
			text-shadow: 0 0 1px black;
		}
	}



	&.button{
		.control {
			flex-wrap: nowrap;

			span.box-label {
				//put here and not below for extra strong rules
				padding: dp(11) dp(12);

				font-weight:normal;
				margin:0;

			}
		}

		input:checked + span.box-label.outlined, input:checked + span.box-label {
			background-color: $colorFocus;
			color: inherit;
		}

		span.box-label {
			@extend .goui-button;
		}
		input {
			margin: 0;
		}

	}

	.wrap {
		background-color: transparent;
		border: none;
		border-radius: 0;
	}

	.label {
		display: none;
	}

	.control {
		display: flex;
		//padding:  0;
		align-items: center;
		flex-wrap: wrap;

		.box-label {
			flex: 1;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: dp(14) dp(12);
			margin: auto 0;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
		}

	}
}


%input {
	//background-color:transparent; // Transparent Makes date field in safari unusable
	background-color: $colorBackgroundInput;
	font: $fontBase;
	//min-width: dp(100); //for select element
	margin: 0;
	border: 0;
	padding: dp(11) dp(16);
	width: 100%;
	color: $colorText;
	display: block;// for text area which has inline-block by default and gets some extra margin

	&::placeholder {
		transition: all 200ms linear;
		color: $colorTextPlaceholder;
	}
}

.goui-pit {
	@extend %control-pit;

	// draws line between items inside a pit in event dialog for example
	> div + div {
		border-top: $borderWidth solid $colorOutline;
	}
	&:not(:empty){
		padding-bottom:dp(12);
		margin-bottom:dp(-12);
	}
}



.goui-form-field, .goui-display-field {
	display: flex;
	flex-direction: column;
//	width: 100%;
	margin: 0;
	position: relative;
}

.goui-display-field {

	&.right {
		.control {
			text-align: right;
		}
	}

	&.with-icon {
		.wrap {
			div.label {
				left: dp(48);
				padding: 0 dp(4);
			}
			.control {
				padding-left: dp(10);
			}
		}
	}

	.wrap {
		flex: 1;
		align-items: center;
		overflow:hidden;
		display: flex;
		flex-flow: row nowrap;
		border: $borderWidth solid transparent;

		> i {
			width: dp(24);
			height: dp(24);
			margin: dp(11) dp(0) dp(11) dp(16);
		}

		div.label {
			font-size: sp(13);
			line-height: sp(13);
			display:block;
			//display: flex;
			//align-items: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: $colorTextSecondary;
			vertical-align: top;
			position:absolute;
			left: dp(18);
			top: dp(-6.5);
		}

		.control {
			font: $fontBase;
			min-width: dp(22); //for select element
			margin: 0;
			border: 0;
			padding: dp(11) dp(16);
			height: dp(46);
			//width: 100%;
			//outline: none;
			color: $colorText;
			display: block;// for text area which has inline-block by default and gets some extra margin
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			i.icon {
				align-self: center;
			}
		}
	}
}

.goui-form-field {

	&.readonly {
		.wrap {
			background-color: $colorBackgroundReadOnly;
			div.label {
				background-color: $colorBackgroundReadOnly;
			}
			input, textarea {
				background-color: $colorBackgroundReadOnly;
			}
		}
	}
	.wrap {
		flex: 1;
		@extend %control-pit;
		display: flex;
		flex-flow: row nowrap;
		>.control {
			//width: 100%;
			flex: 1;
			appearance: none;
			-webkit-appearance: none; /*Removes default chrome and safari style*/
			-moz-appearance: none; /* Removes Default Firefox style*/
		}

		> i {
			width: dp(24);
			height: dp(24);
			margin: dp(11) dp(0) dp(11) dp(16);
		}

		menu.goui-toolbar {

			padding: 0 !important;
			border-radius: 0 $formFieldBorderRadius $formFieldBorderRadius 0;

			border-left: $borderWidth solid $colorOutline;// !important; //importants for Window rule for border top
			border-top: 0 !important;
			border-right: 0 !important;
			border-bottom: 0 !important;

			min-height: auto;

			gap: dp(4);

			> * {
				//margin: 0 dp(4) 0 0;
				padding: dp(6);
			}

			.goui-button {
				color: $colorTextSecondary;
				border-radius: 0;
				i.icon {
					font-size: dp(20);
				}

				&.with-icon:not(.with-text) {
					padding: dp(6);
					height: 100%;
				}
				//&:hover {
				//	background-color: transparent;
				//}
			}
		}
	}

	&.with-icon {
		div.label {
			left: dp(48);
		}
		input {
			padding-left: dp(10);
		}
	}

	&:focus-within {
		>.wrap {
			border-color: $colorMain;

			> i {
				color: $colorMain;
			}

			>.label {
				color: $colorMain;
			}
		}
	}


	&.frame-hint {
		.wrap {
			border-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		//margin-bottom: dp(30); //matches hint size

		&:focus-within:not(.invalid) {
			.hint {
				border-color: $colorMain;
			}
		}

		.hint {
			transition: border-color 100ms linear;
			background-color: $colorBackgroundInput;
			border: $borderWidth solid $colorOutline;
			border-radius: 0 0 $formFieldBorderRadius $formFieldBorderRadius;
			padding: dp(3) dp(18);
		}

		&.invalid {
			.hint {
				background-color: $colorErrorBg;
				border-color: $colorError;
			}
		}
	}




	div.label {
		display: flex;
		align-items: center;
		overflow: visible;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: $colorTextSecondary;
		vertical-align: top;
		pointer-events: none;
		position:absolute;
		left: dp(16);
		padding: 0 dp(4);
		top: math.div($baseLineHeight, 2) + dp(11);
		height: $borderWidth;
		background-color: $colorBackgroundInput;
		transition: top .15s cubic-bezier(.4,0,.2,1), left .15s cubic-bezier(.4,0,.2,1), font-size .15s cubic-bezier(.4,0,.2,1);

		//below performs better but looks ugly on windows :(
		will-change: top, left, font-size;

		&:empty {
			display: none;
		}
	}

	&.no-floating-label, &.has-value, &:focus-within {
		div.label {
			top: 0;
			left: dp(16);
			font-size: sp(13);
		}
	}

	&.number {
		input {
			text-align: right;
		}
	}

	&.text, &.number, &.date, &.time, &.textarea, &.select, &.duration, &.recurrence {
		input, textarea, .wrap > select {
			@extend %input;

			&:focus {
				color: $colorMain;
			}
		}

		input, .wrap > select {
			height: dp(46); //padding 11 * 2 + line height 24. Needed to be set for Safari with input.time and date.
		}
	}
	textarea {
		line-height: $baseLineHeight;
	}

	&.duration {
		.control {
			line-height: dp(46);
		}

		input.hour {
			width: auto;
			flex: 1;
			text-align: right;
		}

		input.text {
			height: $baseLineHeight;
			cursor: default;
			min-width: auto;
			width: sp(22);
			box-sizing: content-box;
			padding-right: dp(2);
			padding-left: dp(2);
		}
		input.text:first-child {
			padding-left: dp(16);
		}

		input.text:last-child {
			padding-right: dp(16);
		}

		input.month:placeholder-shown {
			width: sp(30);
		}

		input.text.year {
			width: dp(44);
		}
	}




	&.invalid {
		.wrap {
			border-color: $colorErrorBorder;
			background-color: $colorErrorBg;
			i {
				color: $colorError;
			}

			input {
				color: $colorError;
				background-color: $colorErrorBg;
			}

			> .label {
				background-color: $colorErrorBg;
				color: $colorError;
			}

			menu.goui-toolbar {
				border-color: $colorErrorBorder;
			};
		}

		.hint {
			color: $colorError;
		}
	}

	.error {
		font-size: dp(14);
		color: $colorError;
		line-height: dp(20); //match icon
		padding: 2px dp(12);
		height: dp(20);
		width: 100%;
	}

	.hint {
		font-size: dp(14);
		color: $colorTextSecondary;
		line-height: dp(20); //match icon
		padding: dp(4) dp(18) dp(4);

		&:empty {
			padding: 0;
		}
	}

	input.number {
		padding-right: 0;
		min-width: dp(54);
	}

	input.text {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	/**  end text and textarea **/

	&.radiogroup {
		@extend .checkbox-group;

		width: auto;
		.radio.control {
			padding: 0;
		}

		&.box {
			.radio > label {
				padding-right: dp(8);
			}

			input {
				&[type="radio"] {
					border-radius: dp(12);
					&:checked:before {
						content: '';
						border-radius: 50%;
						transform: scale(.4);
					}
				}
			}
		}

		&.button { // check buttons should be in segment .group

			.control {
				&>:not(:first-child) {
					.box-label {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
						border-left: 0;
					}
				}
				&>:not(:last-child) {
					.box-label {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
			}


			.radio {

				background-color: $colorBackgroundInput;
				border: $borderWidth solid $colorOutline;
				border-radius: dp(12);

				&:focus-visible {
					border-color: $colorMain;
				}

				> label {
					padding: 0;
					overflow: hidden;

					+ label {
						border-left: 1px solid $colorOutline;
					}
				}
			}
		}


		&.list {
			.radio.control {
				flex-direction: column;
				.control {
					width: 100%;
					align-items: start;

					padding: 0;
					span.box-label {
						padding: dp(8) dp(16);

						i.icon {
							vertical-align: middle;
							margin-right: dp(8);
						}
					}

					input {
						display: none;
					}

					input:checked + span.box-label {
						background-color: $colorSelectedRowInactive;
					}
				}
			}
		}



		&.list {
			.radio.control {
				flex-direction: column;
				.control {
					width: 100%;
					align-items: start;

					padding: 0;
					span.box-label {
						padding: dp(8) dp(16);

						i.icon {
							vertical-align: middle;
							margin-right: dp(8);
						}
					}

					input {
						display: none;
					}

					input:checked + span.box-label {
						background-color: $colorSelectedRowInactive;
					}
				}
			}
		}


	}

	/** start checkbox **/
	&.check {

		&.invalid {
			.wrap {
				background-color: transparent;
			}

			input, &.switch input, &.button input + span.outlined   {
				background-color: $colorErrorBg;
				border-color: $colorError;
				color: $colorError;
			}

			&.switch input {
				&::after {
					background-color: $colorError;
				}
			}

			.box-label {
				color: $colorError;
			}

		}

		@extend %boxgroup;

		&.box input {
			&[type="checkbox"] {
				&:before {
					clip-path: polygon(39.375% 74.375%, 16% 51%, 20.48% 46.52%, 39.33% 65.37%, 79.33% 25.37%, 83.81% 29.85%)
				}
			}
		}

		.button {
			input + span {
				@extend .goui-button;
			}
		}

		&.switch input { // track
			background-color: $colorBackgroundInput;
			width: dp(50);
			height: dp(28);
			overflow:hidden;
			border: $borderWidth solid $colorText;
			position:relative;
			border-radius:999px;
			&::before {
				content: '' !important;
			}
			&::after { // thumb
				position:absolute;
				top: 0 - $borderWidth;
				left: 0 - $borderWidth;
				color:white;
				font-size: .7em;
				content: "";
				transition: 100ms transform ease-out;
				margin: dp(7);
				display:block;
				height: dp(14);
				width: dp(14);
				background-color:  $colorTextSecondary;//rgba(0, 0, 0, 0.48);
				border-radius:999px;
			}
			&:checked {
				background-color: var(--bg-focus);
			}
			&:checked::after  {
				transform: scale(1.5) translateX(dp(14));
				background-color:$colorMain;
			}
			//&:active::after { // focus
			//	transform: scale(1.75);
			//}
			&:active:checked::after  {
				//transform:scale(1.75) translateX(dp(12));
				//background-color: $colorBackgroundInput;
			}
			&:focus {
				border-color: $colorMain;
				//&:checked:after {
				//	transform:scale(1.75) translateX(dp(12));
				//}
			}
		}

	}
	/** end checkbox **/


	&.select {
		position: relative;
		.wrap {
			select {
				padding-right: dp(30);
				background-image: none;
				appearance: none;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		&:after {
			position: absolute;
			display: inline-block;
			top: $baseLineHeight - dp(6);
			right: dp(8);
			@extend %icon;
			color: $colorTextSecondary;
			font-size: 2rem;
			margin-right: 0;
			content: "expand_more";
			pointer-events: none;
		}
	} // end select

}


.goui-fieldset {
	border: 0;
	min-width: 0;
	padding: dp(16);
	margin: 0;

	.legend {
		display: block;
		line-height:normal;
		font-size: dp(18);
		font-weight: 500;
		padding: dp(8) dp(16) dp(8) 0;
	}

	> p:first-child {
		margin-top: 0;
	}

	//& + .goui-fieldset {
	//	border-top: $borderWidth solid $colorBorder;
	//}
}

.textarea {
	textarea
	{
		min-height: dp(42);
	}
}


.goui-html-field {
	position: relative;

	&.invalid {
		div.editor{
			background-color: $colorErrorBg;
			border-color: $colorError;
		}
	}

	div.editor {
		@extend %input;
		@extend .normalize;
		min-height: dp(100);

		img {
			max-width: 100%;
		}

		//placeholder support
		&:empty:before {
			content: attr(data-placeholder);
			color: transparent;
			pointer-events: none;
			transition: all 200ms linear;
		}

	}

	&:focus-within {
		menu.goui-toolbar {
			display: flex;
		}
	}
}

.goui.goui-toolbar.html-field-toolbar {
	position: absolute;
	z-index: $zIndexMenu;
	flex-wrap: wrap;
	max-width: 100%;
	@extend .z8;
}

form {
	// for loading mask
	position: relative;

	.row {
		display: flex;
		flex-wrap: wrap;
		column-gap: dp(12);
		row-gap: 0;
		align-items: stretch;
		>* {
			flex: 1;
		}
	}

	// to make button align with form field
	.goui-button {
		margin:0;
	}
}



.autocomplete {

	box-shadow: 0 10px 20px 0 rgb(0 0 0 / 40%);

	&.expanded {
		.wrap {
			border-color: $colorMain;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 0;
		}

		.label, .control {
			color: $colorMain;
		}
	}
}

.autocomplete-suggestions {

	@extend .z8;
	border: $borderWidth solid $colorMain;
	border-top: 0;
	border-radius: 0 0 $formFieldBorderRadius $formFieldBorderRadius;
	background-color: white;

}


.masked {
	.form-field {
		color: $colorMasked !important;
		.control {
			border-color: $colorMasked !important;
			color: $colorMasked !important;
			background-color: $colorMasked !important;
			> * {
				visibility: hidden;
			}
		}

		.label {
			display: none;
		}
	}
}

div.color-dot {
	border-radius: $formFieldBorderRadius;
	margin: dp(11); //match input
	height: $baseLineHeight;
	flex: 1;
}


.chips {

	.editor {
		@extend %input;
		width: auto;
		flex: 1;
		min-width: 0;
		cursor: text;
		white-space: nowrap;
		overflow: hidden;
		max-width: 100%;
		float:left;
		display:inline-block;
	}
	.wrap {
		cursor: text;
		display: flex;

		.control-wrap {
			display:block;
			flex: 1;
			overflow: hidden;

		}


		.chip {
			display: flex;
			flex-direction: row;
			float: left;
			border-radius: dp(20);
			background-color: var(--bg-highest);
			padding: dp(3) dp(12);
			margin: dp(8) dp(4);
			max-width: dp(120);
			min-width: dp(60);
			cursor: default;

			> span {
				flex: 1;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&.selected {
				background-color: $colorSelectedRow;
				color: white;
				.goui-button {
					color: white;
				}
			}

			.goui-button {
				color: $colorTextSecondary;
				padding: 0;
				margin: 0;
				margin-left: dp(8);
				margin-right: dp(-8);
			}
		}
	}
}

.goui-form-field {
	&.date-range {
		.value-display {
			flex: 1;
			align-self: stretch;
			padding: dp(11) dp(16);
			height: dp(46);
		}
	}
}


.goui-form-field.range {

	.wrap {
		border: none;
		overflow:visible;
	}

	input[type='range'] {
		overflow: visible;;
		padding: 0;
		-webkit-appearance: none;
		background: $colorMain;
		height: dp(8);
		margin: dp(19);
	}

	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: $colorMain;
		height: dp(24);
		width: dp(24);
		border-radius: 50%;
		cursor: ew-resize;
		box-shadow: 0 0 2px 0 #555;
		transition: background .3s ease-in-out;
	}
}


.listfield {
	.control {
		padding: dp(11) dp(16);
		min-height: dp(46);
	}
}

.listfield-list{
	margin:0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: dp(8) dp(4);
		cursor: default;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;

		&:hover {
			background-color: $colorHover;
		}
	}
}


.label-align-left {
	.goui-display-field {
		&:not(:last-child) {
			border-bottom: $borderWidth solid $colorLine;
		}
	}
	.goui-form-field, .goui-display-field {
		.wrap {
			margin-left: dp(100);
			align-items: center;

			.label {
				top: auto;
			}

			.control {
				flex: 1;
				padding: dp(3) 0;
			}

		}

	}
}