:root, body {
	@include light-theme;
}
body.dark {
	@include dark-theme;
	* {
		color-scheme: dark;
	}
}

.goui * {
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	&:focus {
		outline: none; //remove safari outline
	}
}

.goui.root {
	font: $fontBase;
	color: $colorText;
	width: 100%; //Needed for modal windows setting it to position fixed, top 0
	background-color: $surfaceLow;

}

.goui {
	::selection {
		background: var(--bg-selection);
		color: var(--fg-selection);
	}
}

//h1{
//	font-weight: 500;
//	display: block;
//	font-size: 2em;
//	margin: 0.67em 0;
//	line-height:normal;
//}
//
//h2 {
//	display: block;
//	font-weight: bold;
//	font-size: 1.5em;
//	margin: 0.83em 0;
//	line-height:normal;
//}
//
//h3 {
//	display: block;
//	font-weight: bold;
//	font-size: 1.17em;
//	margin: 1em 0;
//	line-height:normal;
//}
//
//h4 {
//	display: block;
//	font-weight: bold;
//	margin: 1.33em 0;
//	line-height:normal;
//}
//
//h5 {
//	display: block;
//	font-size: .83em;
//	margin: 1.67em 0;
//	font-weight: bold;
//	line-height:normal;
//}
//
//h6 {
//	display: block;
//	font-size: .67em;
//	margin: 2.33em 0;
//	font-weight: bold;
//	line-height:normal;
//}
//
//p {
//	margin: dp(8) 0;
//	line-height:normal;
//}
//
//code {
//	display: block;
//	word-break: break-all;
//	white-space: break-spaces;
//	background-color: #f1f1f1;
//	border: $borderWidth solid $colorBorder;
//	border-radius: $borderRadius;
//	padding: dp(8);
//	line-height:normal;
//}



/**
	hide and show .

	Setting the attribute "hidden" on elements hides them with display:none.
	You can add class "goui-fade-in" or "goui-fade-out" to fade it out or in with opacity:0 and visibility:hidden
 */
.goui-fade-out  {
	transition: all 0s;
}

.goui-fade-in {
	//https://easings.net/#easeInCubic
	transition: all 1000ms cubic-bezier(0.32, 0, 0.67, 0);
}



*[hidden] {
	&:not(.goui-fade-out):not(.goui-fade-in) {
		display: none !important;
	}

	&.goui-fade-in, &.goui-fade-out {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	&.goui-fade-in {
		transition: 0s;
	}

	&.goui-fade-out {
		//https://easings.net/#easeInCubic
		transition: opacity 200ms cubic-bezier(0.32, 0, 0.67, 0);
	}
}

*[disabled], .disabled {
	cursor: not-allowed;
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity=60);
	pointer-events: none;
}

/**
	End hide and show.
 */


hr.goui {
	border:0;
	color: $colorBorder;
	border-top: $borderWidth solid currentColor;
}


.goui-draghandle {
	cursor: move;
}

.goui-resizable {
	resize: both;
	overflow: auto;
	&::-webkit-resizer {
		background-color: transparent;
	}
}


.goui-cards {
	>* {
		@extend .fit;
	}
}

.goui-cardmenu {
	margin: 0;
	padding: 0;

	//text-align: center;
	button.goui-button {
		display: inline-block;
		padding: dp(12) dp(18);
		margin: 0 dp(24) 0 0;
		background: none;
		border: none;
		border-radius: 0;
		//color: $colorTextPlaceholder;
		border-bottom: dp(4) solid transparent;
		//border-top: dp(4) solid transparent;
		color: $colorTextSecondary;
		&.active {
			border-bottom: 4px solid $colorSecondary;
			color: $colorText;
		}

		&:hover {
			background: none;
		}

		&:focus-visible {
			background-color: $colorFocus;
		}
	}
}

.hbox > .goui-cardmenu {
	height: 100%;
	border-right: $borderWidth solid $colorBorder;
	button.goui-button {
		margin: 0;
		width: dp(200);
		text-align: left;
		display:block;
		//border-right: dp(4) solid transparent;

		border-bottom: none;
		border-bottom: none;
		&.active {
			//border-right: dp(4) solid $colorSecondary;
			//border-bottom: none;
			color: $colorText;
			background-color: $colorSelectedRow;
		}
	}

}

.goui.goui-avatar {
	cursor: default;
	position: relative;
	display: block;
	color:white;
	padding: 0;
	background-color: $colorTextSecondary;
	background-size: cover;
	border-radius: 50%;
	width: $baseLineHeight + dp(22);
	height: $baseLineHeight + dp(22);
	line-height: $baseLineHeight + dp(22);
	font-size: dp(16);
	text-align: center;
	overflow: hidden;
	img {
		height:100%;
		margin: 0;
		border:0;
	}

	&.inline {
		display: inline-block;
		margin-right: dp(8);
		vertical-align: middle;
	}
}


.goui-empty-state {
	text-align: center;
	color: $colorTextSecondary;
	width: 100%;
	padding: dp(20);
	.icon {
		font-size: dp(48);
		width: dp(48);
		height: dp(48);
	}
}


.goui.drop-pin {
	position:fixed;
	height: 1px;
	background-color: $colorMain;
	pointer-events: none;
	&:after {
		content: " ";
		display: block;;
		border-radius: 50%;
		background-color: $colorMain;
		width: dp(8);
		height: dp(8);
		position: absolute;
		left: 0;
		top: dp(-4);
	}
}



.drag-src {
	visibility: hidden;
	height: 0;
}

.drag-ghost {
	border-radius: dp(4);
	border: 1px dashed $colorLine;
}