@use "config";
@use "util";
@use "layout";

.goui * {
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	&:focus {
		outline: none; //remove safari outline
	}
}

.goui.root {
	font: config.$fontBase;
	color: config.$colorText;
	width: 100%; //Needed for modal windows setting it to position fixed, top 0
	background-color: config.$surfaceMid;
}

.goui {
	::selection {
		background: var(--bg-selection);
		color: var(--fg-selection);
	}
}

//h1{
//	font-weight: 500;
//	display: block;
//	font-size: 2em;
//	margin: 0.67em 0;
//	line-height:normal;
//}
//
//h2 {
//	display: block;
//	font-weight: bold;
//	font-size: 1.5em;
//	margin: 0.83em 0;
//	line-height:normal;
//}
//
//h3 {
//	display: block;
//	font-weight: bold;
//	font-size: 1.17em;
//	margin: 1em 0;
//	line-height:normal;
//}
//
//h4 {
//	display: block;
//	font-weight: bold;
//	margin: 1.33em 0;
//	line-height:normal;
//}
//
//h5 {
//	display: block;
//	font-size: .83em;
//	margin: 1.67em 0;
//	font-weight: bold;
//	line-height:normal;
//}
//
//h6 {
//	display: block;
//	font-size: .67em;
//	margin: 2.33em 0;
//	font-weight: bold;
//	line-height:normal;
//}
//
//p {
//	margin: dp(8) 0;
//	line-height:normal;
//}
//
//code {
//	display: block;
//	word-break: break-all;
//	white-space: break-spaces;
//	background-color: #f1f1f1;
//	border: $borderWidth solid $colorBorder;
//	border-radius: $borderRadius;
//	padding: dp(8);
//	line-height:normal;
//}



/**
	hide and show .

	Setting the attribute "hidden" on elements hides them with display:none.
	You can add class "goui-fade-in" or "goui-fade-out" to fade it out or in with opacity:0 and visibility:hidden
 */
.goui-fade-out  {
	&:not(.goui-fade-in) {
		transition: opacity 0s;
	}
	&[hidden] {
		transition: opacity 160ms cubic-bezier(0.32, 0, 0.67, 0);
		display:initial !important;
		opacity: 0;
		pointer-events: none;
	}
}

.goui-fade-in {
	//https://easings.net/#easeInCubic
	transition: opacity 160ms cubic-bezier(0.32, 0, 0.67, 0);
	opacity: 1;
	&[hidden] {
		opacity: 0;
	}

	&[hidden]:not(.goui-fade-out) {
		transition: opacity 0s;
	}
}



*[hidden] {
	display: none !important;
}

*[disabled], .disabled {
	cursor: not-allowed;
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity=40);
	pointer-events: none;
}

/**
	End hide and show.
 */


hr.goui {
	border:0;
	color: config.$colorBorder;
	border-top: config.$borderWidth solid currentColor;
}


.goui-draghandle {
	cursor: move;
}

.goui-resizable {
	resize: both;
	overflow: auto;
	&::-webkit-resizer {
		background-color: transparent;
	}
}


.goui-cards {
	>* {
		@extend .fit;
	}
}

menu.goui-toolbar.goui-cardmenu {

	padding: 0;

	//text-align: center;
	button.goui-button {
		display: inline-block;
		//padding: util.dp(8) util.dp(18);
		background: none;
		border: none;
		border-radius: 0;
		//color: $colorTextPlaceholder;
		border-bottom: util.dp(4) solid transparent;
		//border-top: dp(4) solid transparent;
		color: config.$colorTextSecondary;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		&.active {
			border-bottom-color: config.$colorSecondary;
			color: config.$colorText;
		}

		&:hover {
			background: none;
		}

		&:focus-visible {
			background-color: config.$colorFocus;
		}
	}
}

// for vertically stacked tab menu's
aside.goui-cardmenu.goui-toolbar {
	height: 100%;
	border-right: config.$borderWidth solid config.$colorBorder;
	flex-direction: column;
	button.goui-button {
		margin: 0;
		width: 100%;
		text-align: left;
		display:block;
		//border-right: dp(4) solid transparent;

		border-bottom: none;
		border-bottom: none;
		&.active {
			//border-right: dp(4) solid $colorSecondary;
			//border-bottom: none;
			color: config.$colorText;
			background-color: config.$colorSelectedRow;
		}
	}

}

.goui.goui-avatar {
	cursor: default;
	position: relative;
	display: flex;
	color:white;
	padding: 0;
	background-color: config.$colorTextSecondary;
	background-size: cover;
	border-radius: 50%;
	//border: 1px solid var(--fg-line);
	width: config.$baseLineHeight + util.dp(22);
	height: config.$baseLineHeight + util.dp(22);
	font-size: util.dp(16);
	text-align: center;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	img {
		height:100%;
		margin: 0;
		border:0;
	}

	&.inline {
		display: inline-flex;
		margin-right: util.dp(8);
		vertical-align: middle;
	}

	&.large {
		width: config.$baseLineHeight + util.dp(64);
		height: config.$baseLineHeight + util.dp(64);
	}
}


.goui-empty-state {
	text-align: center;
	color: config.$colorTextSecondary;
	width: 100%;
	padding: util.dp(20);
	.icon {
		font-size: util.dp(48);
		width: util.dp(48);
		height: util.dp(48);
	}
}


.goui.drop-pin {
	z-index: config.$zIndexMask;
	position:fixed;
	height: 1px;
	width: 1px;
	background-color: config.$colorMain;
	pointer-events: none;
	&:after {
		content: " ";
		display: block;;
		border-radius: 50%;
		background-color: config.$colorMain;
		width: util.dp(8);
		height: util.dp(8);
		position: absolute;
		left: util.dp(-4);
		top: util.dp(-4);
	}
}


.drag-src {
	opacity: 0.4;
}

.drag-img {
	position: absolute;
	left: -9999999px;
	top: -9999999px;
	z-index: config.$zIndexMask;
}



.goui .resizer {
	border: 0;
	position: absolute;
	margin:0;
	padding:0;

	&.right {
		width: util.dp(16);
		//margin-right: -8px;
		right: 0;
		top:0;
		bottom: 0;
		cursor: col-resize;
	}

	&.left {
		width: util.dp(16);
		left: 0;
		top:0;
		bottom: 0;
		cursor: col-resize;
	}

	&.bottom {
		height: util.dp(16);
		left: 0;
		right: 0;
		bottom: 0;
		cursor: row-resize;
	}

	&.top {
		height: util.dp(16);
		left: 0;
		right: 0;
		top: 0;
		cursor: row-resize;
	}

	&.bottomright {
		cursor: se-resize;
		width: util.dp(16);
		height: util.dp(16);
		right: 0;
		bottom: 0;
	}

	&.topright {
		cursor: ne-resize;
		width: util.dp(16);
		height: util.dp(16);
		right: 0;
		top: 0;
	}

	&.bottomleft {
		cursor: sw-resize;
		width: util.dp(16);
		height: util.dp(16);
		left: 0;
		bottom: 0;
	}

	&.topleft {
		cursor: nw-resize;
		width: util.dp(16);
		height: util.dp(16);
		left: 0;
		top: 0;
	}
}

.error {
	color: config.$colorError;
}
.warning {
	color: config.$colorWarning;
}

.success {
	color: config.$colorSuccess;
}

.notice {
	color: config.$colorNotice;
}

.primary {
	color: config.$colorPrimary;
}

.accent {
	color: config.$colorAccent;
}


.comma-list {
	display: inline;
	list-style: none;
	> * {
		display: inline;
		&:after {
			content: ", ";
		}

		&:last-child:after {
			content: ""
		}
	}
}


//.goui a {
//	color: config.$colorMain;
//}


//.goui.list {
//	ul {
//		padding: 0;
//		margin: 0;
//	}
//	li {
//		padding: 0 util.dp(16);
//		margin: 0;
//
//		.goui-form-field.check {
//			.box-label {
//				padding-top: .4rem;
//				padding-bottom: .4rem;
//			}
//		}
//	}
//}