@use "config";
@use "util";


@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	font-weight: 400;
	src: url(#{config.$resourcePath}iconfont/MaterialSymbolsOutlined.woff2) format('woff2');
}

//.material-symbols-rounded {
//	font-family: 'Material Symbols Rounded';
//	font-weight: normal;
//	font-style: normal;
//	font-size: 24px;
//	line-height: 1;
//	letter-spacing: normal;
//	text-transform: none;
//	display: inline-block;
//	white-space: nowrap;
//	word-wrap: normal;
//	direction: ltr;
//	-webkit-font-feature-settings: 'liga';
//	-webkit-font-smoothing: antialiased;
//}

%icon {
	font-family: 'Material Symbols Rounded';
	font-weight: normal;
	font-style: normal;
	font-size: util.dp(24);  /* Google Preferred icon size = dp(24) */
	//width: auto; //needed in Group-Office as it sets widht and height to 21px
	//height: auto;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;

	&.error {
		color: config.$colorError;
	}
	&.warning {
		color: config.$colorWarning;
	}

	&.success {
		color: config.$colorSuccess;
	}

	&.notice {
		color: config.$colorNotice;
	}

	&.primary {
		color: config.$colorPrimary;
	}

	&.accent {
		color: config.$colorAccent;
	}

}

.goui {
	i.icon, i.icon::after {
		@extend %icon;
	}
}