

.goui {
	box-sizing: border-box;
	> * {
		box-sizing: border-box;
	}
}

.goui.light-bg {
	background-color: white;
}

.goui.normal-bg {
	background-color: $colorBackgroundDarker;
}

.goui.main {
	background-color: var(--bg-main);
}

// flow layout. generally used or form fields
.goui.flow {
	display: flex;
	flex-flow: row wrap !important;
	align-content: flex-start;
	align-items: start;
	gap: dp(16);
	> * {
		padding:0;
		margin:0;
		width:100%;
	}
}

// Stack items horizontally
// For border layout use width's on north and south and add class "go-scroll" on center
.goui.hbox {
	display: flex;
	flex-direction: row;
	//max-width: none;
	//max-height: none;
	gap: 0;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: stretch;
	> *:not(.goui-form-field) {
		flex:none; //setting flex none prevents squishing of elements with no flex setting.
		min-width: 0; // to prevent growing larger than container: https://stackoverflow.com/questions/36230944/prevent-flex-items-from-overflowing-a-container
	}

	> hr {
		@extend %vr;
		height: auto; //was needed to override group-office extjs style
	}

	.break {
		&:before {
			content: '';
			width: 100%;
			order: 1;
		}
	}
}

// Stack items vertically
// For border layout use height's on east and west and add class "go-scroll" on center
.goui.vbox {
	//max-width: none;
	//max-height: none;
	gap: 0;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	> *:not(.goui-form-field) {
		flex:none; //setting flex none prevents squishing of elements with no flex setting.
		min-height: 0;
	}
}


.goui.gap {
	gap: dp(8);
}


.goui.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	> * {
		flex: 1 0;
		min-width: 300px;
	}
}




// Make the element fit it's parent
.goui.fit {
	height: 100%;
	width: 100%;
}

// padding for text contet
.goui.pad {
	padding: dp(24) dp(18) !important;
}

.goui.border-bottom {
	border-bottom: $borderWidth solid $colorBorder;
}

.goui.border-top {
	border-top: $borderWidth solid $colorBorder;
}

.goui.border-left {
	border-left: $borderWidth solid $colorBorder;
}

.goui.border-right {
	border-bottom: $borderWidth solid $colorBorder;
}

.goui.frame {
	border: $borderWidth solid $colorBorder;
	border-radius: dp(12);
	overflow:hidden;
	background-color: var(--bg-main);

	> .toolbar {
		background-color: $colorBackgroundDarker;
		padding: dp(18);
		border-bottom: $borderWidth solid $colorBorder;
	}

	> :first-child {
		.toolbar:first-child {
			background-color: $colorBackgroundDarker;
			padding: dp(18);
			border-bottom: $borderWidth solid $colorBorder;
		}
	}
}

// Scrolling panel
.goui.scroll {
	overflow: auto;
}


%vr {
	border: 0;
	&.draggable {
		cursor: col-resize;
	}
	z-index: 1;
	padding: 0;
	width: $borderWidth + 4;
	display: block;
	margin: 0 -2px;
	background-color: transparent;

	// make it easy to grab with 5px but only show 1px border
	&:after {
		display:block;
		content: "";
		height: 100%;
		margin: 0 2px;
		background-color: $colorBorder;
	}
}
.goui.hbox.mobile-cards {
	height: 100%;
}

@media only screen and (max-width: $breakpointSmall) {
	.goui.hbox.mobile-cards {
		> *:not(.active) {
			display: none;
		}

		> * {
			width: 100% !important; //important to override inline width applied by splitter state.
			height: 100% !important;
		}
	}
}



@media only screen and (min-width: $breakpointSmall) {
	.goui.for-small-device {
		display: none !important;
	}
}


.goui-card {
	border-radius: $borderRadius;
	margin: dp(8);
	background-color: white;
	@extend .z2;
}


