@use "config";
@use "util";

.normalize {

	font: config.$fontBase;
	color: config.$colorText;

	> * {
		margin: 0;
		padding: 0;
		box-sizing: content-box;
		overflow: visible;
		// is this needed? In FF the editor adds align=center and that doesn't work with this css
		//text-align: left;
		overflow-wrap: break-word;
		&:focus {
			outline: none; //remove safari outline
		}
	}

	img {
		// alt text wraps through other text when img's are small.
		overflow-wrap: normal;
	}

	pre {
		white-space: pre-wrap;
	}

	blockquote {
		display: block;
		margin: 1em util.dp(40);
		padding: 0 util.dp(16);
	}

	td {
		display: table-cell;
	}

	th {
		display: table-cell;
		vertical-align: inherit;
		font-weight: bold;
		padding: 1px;
	}

	ul, menu, dir {
		display: block;
		list-style-type: disc;
		list-style-position: outside;
		margin: 0;
		padding: 0 0 0 2em;

		> ul {
			list-style-type: circle;
			> ul {
				list-style-type: square;
			}
		}
	}

	ol {
		display: block;
		list-style-type: decimal;
		list-style-position: outside;
		margin: 0;
		padding: 0 0 0 2em;

		> ol {
			list-style-type: lower-alpha;

			> ol {
				list-style-type: lower-roman;
			}
		}
	}

	li {
		display: list-item;
	}

	p {
		margin: util.dp(8) 0;
	}

	a:link, a:visited, a:active {
		text-decoration: underline;
		color: config.$colorMain;
	}

	a:visited {
		color: purple;
	}

	hr {
		border:0;
		border-top: 2px solid config.$colorBorder;
		margin: util.dp(24) 0;
		padding:0;
	}

}

