///**
//All is hidden except for an element that has the "goui-print" class. It's implemented in Component.print();
// */
//@media print {
//	@page {
//		margin: 10mm;
//		size: auto;// portrait;
//	}
//
//	body, html {
//		background-color: transparent !important;
//		margin: 0;
//		padding: 0;
//		overflow: visible !important;
//	}
//
//	html > body {
//		margin: 0 !important;
//		height: auto !important;
//	}
//
//	body * {
//		visibility: hidden !important;
//	}
//
//
//	.goui-print * {
//		visibility: visible !important;
//	}
//	.goui-print {
//		visibility: visible !important;
//
//		overflow: visible !important;
//		position: fixed !important;
//		box-shadow: none !important;
//		top: 0;
//		left: 0;
//		//right: 0;
//		//width: auto !important;
//		padding: 0 !important;
//		margin: 0 !important;
//
//		&.scroll, .scroll {
//			overflow: visible !important;
//		}
//	}
//
//}



#paper {
	display: none;
	//min-width: 1000px;
}

@media print {
	@page {
		margin: 10mm;
		size: auto;// portrait;
	}

	body, html {
		background-color: transparent;
		margin: 0;
		padding: 0;
		overflow: visible !important;
	}

	html > body {
		margin: 0 !important;
		height: auto !important;
	}

	body > * {
		display: none !important;
	}

	#paper {
		display: block !important;
		overflow: visible !important;
		position: absolute !important;
		box-shadow: none !important;
		top: 0;
		left: 0;
		right: 0;
		padding: 0 !important;
		margin: 0 !important;

		> .goui-toolbar {
			display: none;
		}
	}


}

