@use "config";
@use "util";
@use "layout";
@use "shadows";
@use "general";

.goui-window-modal-overlay {

	backdrop-filter: blur(2px);

	top: 0;
	left:0;
	bottom:0;
	right:0;
	width: 100%;
	height: 100%;
	position: fixed;
	&:after {
		opacity: .8;
		background-color: #7b7a7a;
		top: 0;
		left:0;
		bottom:0;
		right:0;
		position: absolute;
		content: " "
	}
}
.goui-window {

	@extend .z12;
	position: fixed;

	background-color: config.$surfaceLow;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);

	border: config.$borderWidth solid config.$colorBorderWindow;
	border-radius: util.dp(12);
	z-index: config.$zIndexWindow;
	//overflow: hidden; taken off to allow resizer draghandles to be outside of the window
	min-height: util.dp(160);
	min-width: util.dp(160);


	.item-container{
		@extend .goui, .vbox;
 		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: util.dp(12);
	}

	&.modal {
		@extend .z24;
		border: 0;
	}

	.collapse-btn {
		i:after {
			content: "expand_less";
		}
	}

	&.collapsed {
		height: util.dp(74) !important;
		min-height: 0 !important;
		.item-container {

			.collapse-btn {
				i:after {
					content: "expand_more";
				}
			}

			> *:not(.header) {
				display: none;
			}
		}
	}

	&.maximized
	{
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
		border-radius: 0 !important;
		border: 0 !important;
		width: auto !important;
		height: auto !important;
		resize: none !important;

		.collapse-btn {
			@extend *, [disabled];
		}
	}

	@media only screen and (max-width: config.$breakpointSmall) {
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
		border-radius: 0 !important;
		border: 0 !important;
		width: auto !important;
		height: auto !important;
		resize: none !important;
	}


	//focussed window on top
	&:focus-within {
		z-index: config.$zIndexWindow + 10000; // 10000 to be higher than in Ext
	}
	form.goui-form {
		fieldset {
			padding: util.dp(18);
		}
	}

	&.center {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.goui-toolbar:first-child, .goui-toolbar:last-child {
		padding: util.dp(12) util.dp(18);
		//background-color: $colorWindowHeader;
		
	}

	.goui-cardmenu {
		//background-color: $colorWindowHeader;
		width: 100%;
		border-bottom: config.$borderWidth solid config.$colorBorderWindow;
	}

	.header {
		height: util.dp(74);
		background-color: config.$surfaceHigh;
		position: relative;
		margin: 0;

			//& + *:not(.goui-cardmenu):not(form) {
			//	margin-top: 0;
			//}
			//
			//& + form {
			//	> div {
			//		background: $surfaceMid;
			//	}
			//
			//	&:first-child:not(.goui-cardmenu) {
			//		margin-top: 0;
			//	}
			//}
	}

	> p {
		padding: util.dp(18);
	}

	> * {
		text-align: left;
	}

	.goui-toolbar:last-child:not(:only-child) {
		padding-left: util.dp(18);
		padding-right: util.dp(18);
	}

	&.error {
		.body {
			display: flex;
			flex-direction: row;
			align-items: start;
			i {
				font-size: util.dp(44);
				color: config.$colorError;
				margin-right: util.dp(16);
			}
			.text {
				flex: 1;
				height: 100%;
				width: 100%;
				overflow: auto;
				word-wrap: break-word;
			}
		}
	}
}

// login dialog must always be on top
.goui-login {
	z-index: config.$zIndexWindow + 3;
	&:focus-within {
		z-index: config.$zIndexWindow + 3;
	}
}
