.window-modal-overlay {
	opacity: .8;
	background-color: #7b7a7a;
	top: 0;
	left:0;
	bottom:0;
	right:0;
	width: 100%;
	height: 100%;
	position: fixed;
}
.window {
	&.modal {
		box-shadow: 0 0px 20px 0 rgb(0 0 0 / 40%);
		border: 2px solid rgba(30, 18, 70, 0.6);
	}

	&.maximized
	{
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
		border-radius: 0 !important;
		border: 0 !important;
		width: auto !important;
		height: auto !important;
	}

	@media only screen and (max-width: $breakpointSmall) {
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
		border-radius: 0 !important;
		border: 0 !important;
		width: auto !important;
		height: auto !important;
	}

	background-color: white;

	@extend .vbox;

	box-shadow: $windowShadow;

	position: fixed;
	border: 2px solid $colorBorderWindow;
	border-radius: dp(12);

	z-index: $zIndexWindow;
	//focussed window on top
	&:focus-within {
		z-index: $zIndexWindow + 1;
	}
	overflow: hidden;
	form.form {
		fieldset {
			@extend .pad;
		}
	}

	&.center {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	min-height: dp(160);
	min-width: dp(160);

	.toolbar {
		padding: dp(12) dp(18);
		background-color: $colorWindowHeader;
	}

	.cardmenu {
		background-color: $colorWindowHeader;
		width: 100%;
		padding-top:0;
		padding-bottom:0;
		border-bottom: 2px solid $colorBorderWindow;
	}

	.header {
		color: #313131;
		background: $colorWindowHeader;
		position: relative;
		//border-bottom: 1px solid $colorBorderWindow;
		margin: 0;
		h3 {
			color: inherit;
			font-size: dp(22);
			font-weight: 600;
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		& + *:not(.cardmenu) {
			margin-top: 0;
			border-top: 1px solid $colorBorderWindow;
		}
	}

	> p {
		padding: dp(18);
	}

	> * {
		text-align: left;
	}

	.toolbar:last-child:not(:only-child) {
		padding-left: dp(18);
		padding-right: dp(18);
		//background: $colorBackgroundToolbar;
		border-top: 2px solid $colorBorderWindow;
	}
}

// login dialog must always be on top
.login {
	z-index: $zIndexWindow + 3;
	&:focus-within {
		z-index: $zIndexWindow + 3;
	}
}
