$scale: 0.875;
@import 'util';

$borderWidth: 1px;
$baseLineHeight: dp(20);
$fontSize: sp(16);

@import 'config';

@import 'icons';
@import 'shadows';
@import 'general';
@import 'normalize';

@import 'layout';
@import 'alert';
@import 'mask';
@import 'form';
@import 'button';
@import 'table';
@import 'menu';
@import 'window';
@import 'description_list';


.goui-button  {
	padding: dp(6) dp(16);
	font-size: sp(14);

	&.with-icon.with-text {
		padding-left: dp(12);
	}

	&.with-text {
		i.icon {
			margin-right: dp(6);
		}
	}

	&.with-icon:not(.with-text) {
		//icon only
		padding: dp(8);
	}
}
